.none {
    padding: 0 !important;
    margin: 0 !important;
    border: none;
}

.base {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    min-width: 515px;
    margin: 200px 0;
    padding: none;
    border: none;
}

.texto {
    box-sizing: border-box;
    text-align: center;
    display: block;
    font-size: 50px;
    height: 200px;
    padding: 63px 0;
    color: white;
    background-color: #449b44;
    box-shadow: 0px 3px 20px black; 
}

.texto:hover {
    background-color: #64bb64;
}