<div class="page">
    <div class="post">
        <form *ngIf="mascota">
            <label for="mascota">
                Mascota: 
            </label>
            <select name="mascota" id="mascota" class="mascota" [(ngModel)]="mascota" >
                <option *ngFor="let pet of mascotas" [value]="pet.nombre">
                    {{pet.nombre}}
                </option>
            </select>
            <textarea placeholder="¿Qué estás pensando?" [(ngModel)]="text" name="text" maxlength="255" [style.background-size]="contador+'% 4px'" (keypress)="contar()" (keyup)="contar()"></textarea>
            
            <button class="btn btn-success publicar"
                    (click)="post()" >Publicar</button>

            <input type="file" class="btn btn-success cargarImagen"
                    id="filePicker" (change)="cargar($event)">
        </form>

        <button *ngIf="!mascota" class="btn btn-success"
                    (click)="agregarMascota()" >Agregar Mascota</button>
    </div>

    <section *ngIf="estados">
        <article *ngFor="let estado of estados" class="estado">
            <div class="head">
                <h5>
                    {{estado.usuario}}'s
                </h5>
                <h4>             
                    {{estado.mascota}}
                </h4> 
                <p>
                    {{estado.fecha | date:'medium'}}
                </p>            
            </div>
            <div class="content">
                <label>
                        {{estado.texto}}
                </label>
            </div>
            <img *ngIf="estado.imagen" [src]="'data:image/jpg;base64,'+estado.imagen"/>
            <div class="footer">
                <!--
                <img src="assets/paw.png" alt="PAW" (click)="estado.paw = estado.paw + 1;">
                <p>
                    {{estado.paw}}
                </p>
                -->
            </div>
        </article>
    </section>
</div>