<div class="perfil">
	<h1 *ngIf="mascota">{{'Nueva Mascota' }}</h1>

	<form novalidate #f="ngForm">
		
		<div class="form-group">
			<label>Nombre:</label> 

			<input type="text" class="form-control" name="nombre"  [class.errorBorder]="errors['nombre']"
				[(ngModel)]="nombreEditado" required>


			<div *ngIf="f.controls.nombre?.invalid && f.controls.nombre?.touched" class="error" >
				Dato invalido
			</div>
			
			<div *ngIf="errors['nombre']" class="error">
				{{errors['nombre']}}
			</div>	
		</div>
		
		<div class="form-group">
			<label>Fecha de Nacimiento:</label> 

			<ng2-datepicker class="form-control"  name="fechaNacimiento" [options]="{ format: 'DD/MM/YYYY'}"
				[ngModel]="fechaNacimientoEditado | datePicker" [class.errorBorder]="!fechaNacimientoEditado || errors['fechaNacimientoEditado']"
				(ngModelChange)="fechaNacimientoEditado=$event.formatted" ></ng2-datepicker>
				
			<div *ngIf="errors['fechaNacimientoEditado']" class="error">
				{{errors['fechaNacimientoEditado']}}
			</div>		
		</div>
		
		<div class="form-group">
			<label>Descripcion:</label> 
			<input type="text" class="form-control" name="descripcion" [class.errorBorder]="errors['descripcion']"
				[(ngModel)]="descripcionEditado" required [minlength]="3" [maxLength]="60">
				
			<div *ngIf="f.controls.descripcion?.errors?.minlength && f.controls.descripcion?.touched" class="error">
				Minimo 3 caracters, maximo 60
			</div>
			
			<div *ngIf="errors['descripcion']" class="error">
				{{errors['descripcion']}}
			</div>	
		</div>

		<div class="form-group">
			<label>Sexo:</label> 

			<select [(ngModel)]="sexoEditado" name='sexo'>
				<option *ngFor="let s of sexos" [value]="s.id">{{s.nombre}}</option>
			</select>	
		</div>

		<div class="form-group">
			<label>Tipo de Animal:</label> 

			<select [(ngModel)]="tipoAnimalEditado" name='tipoAnimal'>
				<option *ngFor="let ta of tiposAnimal" [value]="ta.id">{{ta.nombre}}</option>
			</select>	
		</div>

		<div class="form-group">
			<label>¿Se perdió?
				<div class="form-group">
			<textarea [(ngModel)]="textoPerdidoEditado" class=" perdido" name="textoPerdido" placeholder="NO COMPLETE SI NO SE PERDIÓ. Dónde la vio por última vez, cuándo, tenía collar, etc." cols="150" rows="6"></textarea>
				</div>
			</label> 
		</div>

		

		<button class="btn btn-default" [routerLink]="['/mascotas']" >Cancelar</button>
		<button class="btn btn-warning" *ngIf="mascota.id" (click)="onDelete()">Eliminar</button>
		<button class="btn btn-success"  (click)="post()" [disabled]="f.invalid">Guardar</button>
	</form>
</div>