<h1>PERFIL</h1>

<form name="form" [formGroup]="form" novalidate>
	<div class="form-group">
		<label>Nombre: 

			<input name="nombre" [formControl]="form.controls['nombre']"
					type="text" placeholder="Nombre" size="60" />

			<div class="error"
				*ngIf="(form.controls['nombre'].dirty || formSubmitted) && form.controls['nombre'].invalid">
				Valor no v&aacute;lido.
			</div>
		</label>
	</div>

	<div class="form-group">
		<label>Apellido: 

			<input name="apellido" [formControl]="form.controls['apellido']"
					type="text" placeholder="Apellido" size="60" />

			<div class="error"
				*ngIf="(form.controls['apellido'].dirty || formSubmitted) && form.controls['apellido'].invalid">
				Valor no v&aacute;lido.
			</div>
		</label>
	</div>

	<div class="form-group">
		<label>Sexo:</label> 

		<select name='sexo' [formControl]="form.controls['sexo']" >
					<option *ngFor="let s of sexos">{{s}}</option>
		</select>	

		<div class="error"
					*ngIf="(form.controls['provincia'].dirty || formSubmitted) && form.controls['provincia'].invalid">
						Valor no v&aacute;lido.
		</div>
	</div>

	<div class="form-group">
		<label>Email: 

			<input name="email" [formControl]="form.controls['email']"
					type="text" placeholder="Email" size="60" />

			<div class="error"
						*ngIf="(form.controls['email'].dirty || formSubmitted) && form.controls['email'].invalid">
				Valor no v&aacute;lido.
			</div>
		</label>
	</div>

	<div class="form-group">
		<label>Provincia:</label> 

		<select name='provincia' [formControl]="form.controls['provincia']" >
					<option *ngFor="let item of provincias" [value]="item.id" >{{item.nombre}}</option>
		</select>	

		<div class="error"
					*ngIf="(form.controls['provincia'].dirty || formSubmitted) && form.controls['provincia'].invalid">
						Valor no v&aacute;lido.
		</div>
	</div>

	<div class="form-group">
		<label>Direcci&oacute;n: 

			<input name="direccion" [formControl]="form.controls['direccion']" type="text" placeholder="Direcci&oacute;n" size="60" />	

			<div class="error"
				*ngIf="(form.controls['direccion'].dirty || formSubmitted) && form.controls['direccion'].invalid">
					Valor no v&aacute;lido.
			</div>
		</label>
	</div>
	
	<div class="form-group">
		<label>Tel&eacute;fono: 

			<input name="telefono" [formControl]="form.controls['telefono']" type="text" placeholder="Tel&eacute;fono" size="60" />
			
			<div class="error"
				*ngIf="(form.controls['telefono'].dirty || formSubmitted) && form.controls['telefono'].invalid">
					Valor no v&aacute;lido.
			</div>
		</label>
	</div>

	<div class="form-group">
		<label>Ocupaci&oacute;n: 

			<input name="ocupacion" [formControl]="form.controls['ocupacion']" type="text" placeholder="Ocupaci&oacute;n" size="60" />
			
			<div class="error"
				*ngIf="(form.controls['ocupacion'].dirty || formSubmitted) && form.controls['ocupacion'].invalid">
					Valor no v&aacute;lido.
			</div>
		</label>
	</div>

	<div class="form-group">
		<label>Estado Civil:</label> 

		<select name='estadoCivil' [formControl]="form.controls['estadoCivil']" >
					<option *ngFor="let ec of estadosCiviles">{{ec}}</option>
		</select>	

		<div class="error"
					*ngIf="(form.controls['provincia'].dirty || formSubmitted) && form.controls['provincia'].invalid">
						Valor no v&aacute;lido.
		</div>
	</div>
		
	<button class="btn btn-success"  (click)="submitForm()"  [disabled]="form.invalid">Guardar</button>
	<button class="btn btn-default" [routerLink]="['/']" >Cancelar</button>
	<button class="btn btn-default" [routerLink]="['/inicio']" >Volver</button>	
</form>
